<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Faria" />
    <meta
      name="description"
      content="The official website for the Community Table food bank."
    />
    <meta
      name="keywords"
      content="Community Table, food bank, gallery, photos, pictures"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/gallery.css" />

    <script defer src="../js/main.js"></script>

    <title>Community Table - Gallery</title>
  </head>

  <body>
    <div id="navbar">
      <h3><a href="../index.html">Main Page</a></h3>
      <h3>
        <a href="testimonials.html">Testimonials</a>
      </h3>
      <h3><a href="contact_us.html">Contact Us</a></h3>
      <h3><a href="gallery.html" id="selected">Gallery</a></h3>
    </div>

    <div id="title">
      <h1>Community Table</h1>
      <p>"A Table Set for All"</p>
    </div>

    <div id="gallery">
      <h2 id="subtitle">Our Gallery</h2>
      <h3>Our Food Bank</h3>
      <div class="gallery_imgs">
        <img
          width="400"
          src="../assets/marketing/food_1.jpg"
          alt="Image of the interior of the food bank, with crates of donations."
        />
        <img
          width="400"
          src="../assets/marketing/food_2.jpg"
          alt="Image of the interior of the food bank, focused on two crates with halal and pescatarian donations."
        />
        <img
          width="400"
          src="../assets/marketing/food_3.jpg"
          alt="Image of the interior of the food bank, with crates of donations."
        />
      </div>
      <div class="gallery_imgs">
        <img
          width="400"
          src="../assets/marketing/food_4.jpg"
          alt="Image of the interior of the food bank, with crates of fresh food donations."
        />
        <img
          width="400"
          src="../assets/marketing/tins_1.jpeg"
          alt="Image of the interior of the food bank, focused on tins of food."
        />
      </div>
      <h3>Our Volunteers</h3>
      <div class="gallery_imgs">
        <img
          width="400"
          src="../assets/volunteers/vol1.png"
          alt="Image of a volunteer stocking up a crate with donations."
        />
        <img
          width="400"
          src="../assets/volunteers/people_w_1.jpeg"
          alt="Image of a volunteer."
        />
        <img
          width="400"
          src="../assets/volunteers/vol_couple_1.jpeg"
          alt="Image of a pair of volunteers organising crates of donations."
        />
      </div>
      <div class="gallery_imgs">
        <img
          width="400"
          src="../assets/volunteers/people_boy_2.jpeg"
          alt="Image of volunteer in the back of a truck, filled with crates of donations."
        />
        <img
          width="400"
          src="../assets/volunteers/shelly.jpeg"
          alt="Image of a volunteer."
        />
      </div>
    </div>

    <div id="bottom_section">
      <div id="contact_us">
        <h4>Contact Us:</h4>
        <p>For volunteer or partnership opportunities, please contact:</p>
        <p>hello@communitykitchen.org.uk</p>
      </div>

      <div>
        <h4>Follow Us!</h4>
        <p>Follow our journey and get involved on Instagram:</p>
        <p><a href="">@communitykitchenldn</a></p>
      </div>

      <div id="opening_times_normal">
        <h4>Opening Times:</h4>
        <p class="not_striked_through" id="weekdays">Mon – Fri: 10 am – 8 pm</p>
        <p class="not_striked_through" id="saturday">Sat: 10 am – 6 pm</p>
        <p class="not_striked_through" id="sunday">Sun: Closed</p>
        <p id="opening_message"></p>
      </div>
    </div>
  </body>
</html>
