<div id="navbar">
  <h3><a href="/website/" {% if activePage == "home" %}id="selected"{% endif %}>Main Page</a></h3>
  <h3>
    <a href="/website/testimonials" {% if activePage == "testimonials" %}id="selected"{% endif %}>Testimonials</a>
  </h3>
  <h3><a href="/website/contact_us" {% if activePage == "contact" %}id="selected"{% endif %}>Contact Us</a></h3>
  <h3><a href="/website/gallery" {% if activePage == "gallery" %}id="selected"{% endif %}>Gallery</a></h3>
  <h3><a href="/website/opening-times" {% if activePage == "opening-times" %}id="selected"{% endif %}>Opening Hours</a></h3>
  {% if loggedIn %}
  <h3><a href="/website/shift-times" {% if activePage == "shift-times" %}id="selected"{% endif %}>Volunteer Shifts</a></h3>
  <h3><a href="/website/includes/logout.php">Logout</a></h3>
  {% else %}
  <h3><a href="/website/login" {% if activePage == "login" or activePage == "register" %}id="selected"{% endif %}>Login</a></h3>
  {% endif %}

</div>

<div id="title">
  <h1>Community Table</h1>
  <p>"A Table Set for All"</p>
</div>