<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Faria" />
    <meta
      name="description"
      content="The official website for the Community Table food bank."
    />
    <meta name="keywords" content="Community Table, food bank, login" />

    <link rel="stylesheet" href="/website/assets/css/main.css" />
    <link rel="stylesheet" href="/website/assets/css/login.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script defer src="/website/assets/js/main.js"></script>

    <title>{{ pageTitle }}</title>
  </head>

  <body>
    {{ include('header.html') }}

    <div id="body_content">
      <h4 id="instructions">Please enter your login details below:</h4>
      <div class="messages">
        {% if error %}
          <p class="session-error">{{ error }}</p>
        {% endif %}

        {% if message %}
          <p class="session-message">{{ message }}</p>
        {% endif %}
      </div>
      <form
        id="input_form"
        action="/website/includes/authenticate.php"
        method="post"
      >
        <div>
          <div>
            <label for="email">E-mail:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="E-mail Address"
              required
            />
          </div>
          <div>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <label for="remember">Remember me?</label>
            <input type="checkbox" id="remember" name="remember" />
          </div>
          <div>
            <input type="submit" value="Login" />
          </div>
        </div>
      </form>

      <p>
        Don't have an account? Click <a href="/website/register">here</a> to
        register an account
      </p>
    </div>

    {{ include('footer.html') }}
  </body>
</html>
