<head>
  <meta charset="utf-8" />
  <meta name="author" content="Michael Faria" />
  <meta
    name="description"
    content="The official website for the Community Table food bank."
  />
  <meta name="keywords" content="Community Table, food bank" />

  <link rel="stylesheet" href="/website/assets/css/main.css" />
  {% if activePage == "login" or activePage == "register" %}
  <link rel="stylesheet" href="/website/assets/css/login.css" />
  {% elseif activePage == "contact" %}
  <link rel="stylesheet" href="/website/assets/css/contact_us.css" />
  {% elseif activePage == "testimonials" %}
  <link rel="stylesheet" href="/website/assets/css/testimonials.css" />
  {% elseif activePage == "gallery" %}
  <link rel="stylesheet" href="/website/assets/css/gallery.css" />
  {% elseif activePage == "opening-times" %}
  <link rel="stylesheet" href="/website/assets/css/opening_times.css" />
  {% elseif activePage == "shift-times" %}
  <link rel="stylesheet" href="/website/assets/css/shift_times.css" />
  {% elseif activePage == "home" %}
  <link rel="stylesheet" href="/website/assets/css/index.css" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script defer src="/website/assets/js/main.js"></script>

  <title>{{ pageTitle }}</title>
</head>
