<!doctype html>
 {{ include('metadata.html') }}

  <body>
    {{ include('header.html') }}

    <div id="body_content">
      <h4 id="instructions">View our opening times below</h4>
      {{ include('sessionMessages.html') }}
      <div id="tables">
        <div>
          <h3>This week:</h3>
          {{ include('openingTimesTable.html', { week: this_week, role: role }) }}
        </div>

        <div>
          <h3>Next week:</h3>
          {{ include('openingTimesTable.html', { week: this_week, role: role }) }}
        </div>
      </div>
    </div>

    {{ include('footer.html') }}
  </body>
</html>
