<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Faria" />
    <meta
      name="description"
      content="The official website for the Community Table food bank."
    />
    <meta name="keywords" content="Community Table, food bank, register" />

    <link rel="stylesheet" href="/website/assets/css/main.css" />
    <link rel="stylesheet" href="/website/assets/css/login.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script defer src="/website/assets/js/main.js"></script>

    <title>{{ pageTitle }}</title>
  </head>

  <body>
    {{ include('header.html') }}

    <div id="body_content">
      <h4 id="instructions">Please enter your details below</h4>
      <form id="input_form" action="/website/includes/create_account.php" method="post">
        <div id="top_form">
          <div>
            <label for="name">Name:</label>
            <input type="name" id="name" name="name" placeholder="E-mail Address" required />
          </div>
          <div>
            <label for="phone_number">Phone Number:</label>
            <input type="tel" id="phone_number" name="phone_number" placeholder="Phone number" required />
          </div>
          <div>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required />
          </div>
          <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="E-mail Address" required />
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required />
          </div>
          <div>
            <label for="confirmation_password">Confirm password:</label>
            <input type="password" id="confirmation_password" name="confirmation_password" placeholder="Confirmation password" required />
          </div>
          <div>
            <input type="submit" value="Register"/>
        </div>
      </form>

    </div>
    
    {{ include('footer.html') }}
  </body>
</html>
