<!doctype html>
<html>
 {{ include('metadata.html') }}

  <body>
    {{ include('header.html') }}

    <div id="body_content">
      <h4 id="instructions">View our volunteer shift times below:</h4>
      {{ include('sessionMessages.html') }}
      <div id="tables">
        <div>
          <div>
            <h3>This week:</h3>
            {{ include('shiftTimesTable.html', { 'week': shifts_this_week }) }}
          </div>
          {% if role == "staff" %}
            <h3>This week's volunteers:</h3>
            {{ include('shiftSignUpsList.html', { 'week': bookings_this_week}) }}
          {% endif %}
        </div>

        <div>
          <div>
            <h3>Next week:</h3>
            {{ include('shiftTimesTable.html', { 'week': shifts_next_week }) }}
          </div>
          {% if role == "staff" %}
            <h3>Next week's volunteers:</h3>
            {{ include('shiftSignUpsList.html', { 'week': bookings_next_week}) }}
          {% endif %}
        </div>
      </div>
    </div>

    {{ include('footer.html') }}
  </body>
</html>
