<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Faria" />
    <meta
      name="description"
      content="The official website for the Community Table food bank."
    />
    <meta
      name="keywords"
      content="Community Table, food bank, volunteer shift times"
    />

    <link rel="stylesheet" href="/website/assets/css/main.css" />
    <link rel="stylesheet" href="/website/assets/css/shift_times.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script defer src="/website/assets/js/main.js"></script>

    <title>{{ pageTitle }}</title>
  </head>

  <body>
    {{ include('header.html') }}

    <div id="body_content">
      <h4 id="instructions">View our volunteer shift times below:</h4>
      <div class="messages">
        {% if error %}
          <p class="session-error">{{ error }}</p>
        {% endif %}

        {% if message %}
          <p class="session-message">{{ message }}</p>
        {% endif %}
      </div>
      <div id="tables">
        <div>
          <div>
            <h3>This week:</h3>
            {{ include('shiftTimesTable.html', { 'week': shifts_this_week }) }}
          </div>
          {% if role == "staff" %}
            <h3>This week's volunteers:</h3>
            {{ include('shiftSignUpsList.html', { 'week': bookings_this_week}) }}
          {% endif %}
        </div>

        <div>
          <div>
            <h3>Next week:</h3>
            {{ include('shiftTimesTable.html', { 'week': shifts_next_week }) }}
          </div>
          {% if role == "staff" %}
            <h3>Next week's volunteers:</h3>
            {{ include('shiftSignUpsList.html', { 'week': bookings_next_week}) }}
          {% endif %}
        </div>
      </div>
    </div>

    {{ include('footer.html') }}
  </body>
</html>
