/* login requires stretching to fit viewport */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#body_content {
  flex: 1;

  padding: 1vw 5vw 2vw 5vw;
  border-top: 2px solid black;
  background-color: rgb(211, 197, 180);
  font-size: large;
}

#body_content > p {
text-align: center;
}

#input_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
}

#input_form div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

#input_form div > div:last-child {
  display: flex;
  justify-content: center; /* centers horizontally */
  margin-top: 1rem;
}

#input_form label {
  text-align: center;
}
