#body_content {
  padding: 1vw 5vw 2vw 5vw;
  border-top: 2px solid black;
  background-color: rgb(211, 197, 180);
  font-size: large;
}

#tables {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

#tables td {
  padding: 0.2vh 0.5vw;
}

#tables th {
  border-bottom: 1px solid black;
}

#tables tr:hover {
  background-color: rgb(204, 173, 132);
} 

@media screen and (max-width: 600px) {
  #tables {
    display: flex;
    flex-direction: column;
  }

  #tables {
    font-size: 10px;
  }
}
